html {
  font-family: 'Alegreya', serif;
  font-size: 40px;
  text-align: center;
}

.board {
  text-align: center;
  margin-bottom: 40px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  display: inline-block;
  border-radius: 5px;
  margin: 5px;
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}
